.button {
  height: 4.9rem;
  justify-items: center;
  align-items: center;

  padding: 13px 24px;
  border-radius: 90px;
  border: 2px solid var(--black);

  background-color: transparent;
  text-transform: uppercase;
  
  font-family: Oxygen;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  
  line-height: 23px;
  letter-spacing: 1.25px;
}

.primary {
  background-color: var(--primary-color);
  box-shadow: -4px 4px 14px rgba(0, 0, 0, 0.25);
}

.secondary {
  filter: drop-shadow(-4px 4px 14px rgba(0, 0, 0, 0.25));
}

.withIcon {
  display: flex;
  justify-content: space-evenly;
  padding: 0 7.6rem;
}
