.hero--container {
  display: flex;
  flex-direction: column;
  padding: 1.6rem;
}

.hero--wrapper {
}

.hero--wrapper_img {
  width: 100%;
}

.hero--content_lore {
  font-weight: 700;
}

.hero--content_lore h3 {
  font-size: 4.8rem;
  line-height: 77.66px;
  margin: 1.6rem 0;
}

.hero--content_lore h2 {
  font-size: 5.9rem;
  line-height: 95.46px;
  letter-spacing: -0.5%;
  margin: 1.6rem 0;
}

.hero--content_lore p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.5%;
  margin: 1.6rem 0;
}
