@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Poppins:wght@900&display=swap');

:root {
  --font-oxygen: 'Oxygen', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
  --black: #0F0A0A;
  --primary-color: #42E2B8;
  --greay: #858C94;
}

html {
  font-size: 10px;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  
  background: linear-gradient(135deg, #FAD7A1 0%, #E96D71 100%);

  font-family: var(--font-oxygen);
}

img {
  display: block;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}
